<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/c3.css'/>
  </head>
<body>
  <div class='nav'>
    <h1><a href="/">CENTAUR</a></h1>
    <ul class='nav-links'>
        <li><a href="/">Home</a></li>
        <li><a href="/ride">Dashboard</a></li>
        <li><a href="/about">About</a></li>
    </ul>
  </div>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

    <h2 id='charth2'>Gait Chart</h2>
    <hr>
    <div class='chart'>
      <script>
        var walk = <%=gaits[0]%>
        var trot = <%=gaits[1]%>
        var canter = <%=gaits[2]%>
        var total_time = <%=total_time%>

        var chart = c3.generate({
          bindto: '.chart',
            data: {
                columns: [
                    ['walk', walk],
                    ['trot', trot],
                    ['canter', canter]
                ],
                type : 'donut',
                colors: {
                    'walk': '#38b177',
                    'trot': '#cf4f53',
                    'canter': '#9e78cc'
                },
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },
            donut: {
                title: "Total time: " + total_time + " minutes"
            }
        });
      </script>
    </div>

    <div class='graph'>
      <h2>Rhythm</h2>
      <hr>
      <script>
        var margin = {top: 20, right: 20, bottom: 30, left: 50},
            width = 840 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var x = d3.scale.linear()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");

        var line = d3.svg.line()    
            .x(function(d) { return x(d[0]); })
            .y(function(d) { return y(d[1]); })
            .interpolate("basis");
            // .attr("stroke", "black");


        var svg = d3.select(".graph").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var data = <%=string_data%>

          x.domain(d3.extent(data, function(d) { return d[0]; }));
          y.domain(d3.extent(data, function(d) { return d[1]; }));

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis);
            // .append("text")
            //   .attr("transform", "rotate(-90)")
            //   .attr("y", 6)
            //   .attr("dy", ".71em")
            //   .style("text-anchor", "end")
            //   .text("Acceleration");

          svg.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", line);
      </script>
    </div>

  </body>
  <footer>
  </footer>
</html>
